<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.UsersMapper" >
	  <sql id="baseUserColumn">
	  	user_Id,user_name,user_Password,user_Address,user_Phone,user_Email,user_integral
	  </sql>
	  
	  <select id="findById" resultMap="BaseResultUsers">
	  select * from users WHERE user_Id=#{userId}
	  </select>
	  
	  <select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultUsers">
	  	select <include refid="baseUserColumn"/> from users where user_Name = #{userName}
	  </select>
	  
	  <select id="findAllUser" resultMap="BaseResultUsers">
	  	select <include refid="baseUserColumn"/> from users
	  </select>
	  <update id="updateUserIntegral" parameterType="com.web.entity.Users">
	  	update users 
	  	<set>
	  	  <if test="userName!=null"> user_Name =#{userName},</if> 
	  	  <if test="userPassword!=null"> user_Password =#{userPassword}, </if>
	  	  <if test="userAddress!=null"> user_Address =#{userAddress}, </if>
	  	  <if test="userPhone!=null"> user_Phone =#{userPhone},  </if>
	  	  <if test="userEmail!=null"> user_Email =#{userEmail},</if>
	  	  <if test="userIntegral != null">user_integral = #{userIntegral}</if>
	  	</set> 
	  	WHERE  user_Id =#{userId}
	  </update>
	  <update id="updateUser" parameterType="com.web.entity.Users">
	  	UPDATE  users  
	  	<set>
	  	  <if test="userName!=null"> user_Name =#{userName},</if> 
	  	  <if test="userPassword!=null"> user_Password =#{userPassword}, </if>
	  	  <if test="userAddress!=null"> user_Address =#{userAddress}, </if>
	  	  <if test="userPhone!=null"> user_Phone =#{userPhone},  </if>
	  	  <if test="userEmail!=null"> user_Email =#{userEmail}</if>
	  	</set> 
	  	WHERE
	   user_Id =#{userId}
	  </update>
	  <delete id="deleteUserById" parameterType="java.lang.Integer">
	  	delete from users where user_id=#{userId}
	  </delete>
	  <delete id="delUser" parameterType="java.lang.Integer">
	  	delete from users where user_id=#{userId}
	  </delete>
	  <insert id="saveUser" parameterType="com.web.entity.Users" keyProperty="userId" useGeneratedKeys="true">
	  	INSERT INTO  users  ( user_Name ,  user_Password ,  user_Address ,  user_Phone ,  user_Email )
	  	VALUES 
	  	(#{userName}, #{userPassword}, #{userAddress},#{userPhone},#{userEmail})
	  </insert>
	  
	  <resultMap id="BaseResultUsers" type="com.web.entity.Users" >
	    <id column="user_Id" property="userId" jdbcType="INTEGER" />
	    <result column="user_Name" property="userName" jdbcType="VARCHAR" />
	    <result column="user_Password" property="userPassword" jdbcType="VARCHAR" />
	    <result column="user_Address" property="userAddress" jdbcType="INTEGER" />
	    <result column="user_Phone" property="userPhone" jdbcType="VARCHAR" />
	    <result column="user_Email" property="userEmail" jdbcType="VARCHAR" />
	    <result column="user_Integral" property="userIntegral" javaType="java.lang.Integer"/>
	  </resultMap>
  
</mapper>
