@charset "utf-8";
/* CSS Document */
body{border:none;font-size:12px; font-family:"微软雅黑"; margin:0px;padding:0px;line-height:24px; }
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,img,form,p,input{margin:0px;padding:0px;list-style:none; border:0px;}

/*table{border-collapse:collapse;}*/
table td{ padding:0;}
.left{float:left;}
.right{float:right;}
.overflow{overflow:hidden;zoom:1;}
.cursor{cursor:pointer;}
.clear{ clear:both; height:0; line-height:0; font-size:0;}
.none{display:none;}
.block{display:block;}
.line-thro{text-decoration:line-through;}
em{font-style:normal}
.inline{display:inline;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.clearfix{zoom:1;}

a{blr:expression(this.onFocus=this.blur());}

a:focus{outline:none;}

/*链接*/
a{text-decoration:none;outline: none;hide-focus: expression(this.hideFocus = true);color:#4e4e4e;}
a:hover{text-decoration:none;}

/*颜色*/
.green{ color:#629d1a;}
.yellow{color:#ff9800;}
.red{ color:#ee0000;}
.c666{ color:#666666;}
.cfff{ color:#fff;}
.c333{ color:#333;}
.cyl{ color:#ffff00}/*黄色字体*/
.blue{ color:#0085d0}/*蓝色字体*/
.c3d69e7{ color:#3d69e7;}/*蓝色字体*/
.cf00{ color:#f00;}
.cf55e07{ color:#f55e07;}/*橙色字体*/
.c2c6ca5{ color:#2c6ca5;}/*蓝色字体*/
.c909190{ color:#909190;}/*灰色字体*/
.c0b1c7a{ color:#0b1c7a;}/*蓝色字体*/
.c999{color:#999;}
.cccc{color:#ccc;}
.ce4393c{color:#e4393c;}/*红色字体*/
.c666{color:#666;}
.f40{color:#f40;}

/*字体*/
.fontnor{ font-weight:normal;}
.font12{ font-size:12px;}
.font13{ font-size:13px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font24{ font-size:24px;}
.fonttb{font-weight:bold;}
/*边距*/
.line18{ line-height:18px;} 
.line25{ line-height:25px;} 
.textint{ text-indent:2em;}
.textint4{ text-indent:-66px; padding-left:66px;}

.tcenter{ text-align:center;}
.text_unline{ text-decoration:line-through;}
.text_line{ text-decoration:underline;}
.text_r{ text-align:right;}
.linetop{ border-top:1px dashed #ccc;}
.linedow{ border-bottom:1px dashed #ccc;}
.marginauto{ margin:0 auto;}
.bgbluer{ background:#0085d0;}
.ml2{ margin-left:2px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;_margin-left:10px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}

.ml40{ margin-left:40px;}
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt3{margin-top:3px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt19{ margin-top:19px;}

.ml100{ margin-left:100px;}
.ml80{ margin-left:80px;}
.ml60{ margin-left:60px;}

.ml150{ margin-left:150px;}
.mt50{margin-top:50px;}
.ml50{ margin-left:50px;}
.ml60{ margin-left:60px;}
.ml65{margin-left:65px;}


.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt20{ margin-top:20px;}
.mr20{ margin-right:20px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr5{ margin-right:5px;}
.mr30{ margin-right:30px;}
.mr55{ margin-right:55px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.pt5{ padding-top:5px;}
.pb10{ padding-bottom:10px;}
.pr50{ padding-right:50px;}
.pr60{ padding-right:60px;}
.pr10{ padding-right:10px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl25{ padding-left:25px;}
.pl20{ padding-left:20px;}
.pl50{ padding-left:50px;}
.pb30{ padding-bottom:30px;}
.pb20{ padding-bottom:20px;}
.w40{ width:40px;}
.w560{ width:560px;}
.w940{ width:940px;}
.w189{ width:189px;}
.w190{ width:190px;}
.he30{ height:30px;}
.he40{ height:40px;}
.he60{ height:60px;}
.w_auto{width:100%;  width:expression(document.body.clientWidth <= 1200? "1200px": "auto");
    min-width:1200px;}
.w85{ width:85px;}
.w165{ width:165px;}
.wid235{width:235px;}
.wid265{width:265px;}

.pos_r{ position:relative;}
.pos_a{position:absolute;}

.wid20{width:20px;}
.wid50{width:50px;}
.wid120{width:120px;}
.wid140{width:140px;}
.wid150{width:150px;}
.wid200{width:200px;}
.wid270{width:270px;}
.wid575{width:575px;}
.txtright{ text-align:right;}
.txtcenter{ text-align:center;}


.pagebox{ text-align:right;line-height:28px;margin-top:10px;}
.pagebox a{vertical-align:middle;margin-left:5px;}
a.page_syy{background:url(images/page_syy.gif) no-repeat;width:66px;height:28px; display:inline-block;}
a.page_xyy{background:url(images/page_xyy.gif) no-repeat;width:66px;height:28px; display:inline-block;}
a.page_wy{background:url(images/page_wy.gif) no-repeat;width:48px;height:28px; display:inline-block;}
a.page_ym{ background:url(images/page_bj.gif) no-repeat;width:30px;height:28px;line-height:28px; text-align:center;font-size:14px;color:#000; text-decoration:none; display:inline-block;}
a.page_ym:hover{ background:none;color:#f40; font-weight:bold;}
a.page_ym.fyhover{ background:none;color:#f40; font-weight:bold;}
.page_inp{ background:url(images/page_inp.gif) no-repeat;width:36px;height:28px;padding:0 2px; vertical-align:middle;}



/* CSS top_头部 2014|9|19*/

.topbox{height:35px; background:#dbdbdb;border-bottom:1px solid #eee;
}
.head_box{ min-width:1200px;}
.head_ssbox{background:url(images/head_ss.gif) no-repeat left top;width:500px;float:left;margin:22px 0 0 35px; position:relative;_display:inline;}
.head_ssbox1{background:url(images/head_ss1.gif) no-repeat left top;width:560px;float:left;margin:22px 0 0 100px; position:relative;_display:inline;z-index:2;}
.head_ss{float:right;width:400px;padding:0 5px;line-height:38px;border:0; background:none; _display:inline;height:38px;}
.head_tan{width:222px;margin-top:25px; }
.head_wdhb{background:url(images/sp_main_12.jpg) no-repeat;width:106px;height:36px;float:left; position:relative;*z-index:12; z-index:777;}
.head_wdhb.myhbhover{background:url(images/sp_main_hove.jpg) no-repeat; }
.head_wdhb s{height:1px; _height:0px; width:120px; position:absolute;top:21px;_top:-10px;left:1px; line-height:1px;}
.head_wdhb.myhbhover s{display:block;}	
.head_ssan{float:right;width:90px;_display:inline;height:35px;}
.head_rmss{color:#898888;}
.gwcqp{ background:url(images/gwcqpl.gif) left 0 no-repeat;height:21px;padding-left:8px; position:absolute;top:-15px;left:25px;color:#fff;}
.gwcqp span{display:inline-block; background:url(images/gwcqpl.gif) right 0 no-repeat;height:17px;line-height:17px;padding-bottom:4px;padding-right:5px;}
.sygwc_none{background:url(images/sygwc_none.gif) no-repeat 22px center #fff;padding-left:90px;width:213px;color:#e6e6e6;height:78px;line-height:78px; position:absolute;top:31px;right:0;border:1px solid #ddd;z-index:12; display:none;}
.sygwc_tj{padding:10px 0; text-align:center;}
.head_wdhb s{height:1px;width:91px; position:absolute;top:31px; _top:0px;left:1px; }

.head_wdhb.myhbhover .head_wdhb_ycc{display:block;}
.head_wdhb s{height:1px; line-height:1px; width:120px; position:absolute;top:31px; left:1px; font-size:0px; background:#fff; display:none;z-index:13;}
.head_wdhb.myhbhover s{display:block;}
.head_wdhb_ycc{ position:absolute;top:31px;right:0;border:1px solid #ddd; background:#fff; display:none}


.head_qgwcjs{background:url(images/sp_main_14.jpg) no-repeat;width:91px;height:36px;float:left;margin-left:10px; position:relative;*z-index:899; z-index:899;}
.head_qgwcjs s{height:1px; font-size:0px; _line-height:5px;width:89px; position:absolute;top:31px;left:1px; background:#fff; display:none;z-index:9999;}
.head_qgwcjs.gwcjshover s{ display:block;}
.head_qgwcjs.gwcjshover .sygwc_ysp{display:block;}	
.head_qgwcjs.gwcjshover{background:url(images/sp_shop_hover.jpg) no-repeat; height:36px;}
.head_qgwcjs.gwcjshover .sygwc_none{display:block;}


.sygwc_ysp{position:absolute;top:31px;right:0;width:285px; background:#fff;padding:0 10px;border:1px solid #e6e6e6; display:none; z-index:999; _z-index:999;}
.sygwc_ysp li{overflow:hidden;padding:8px 0;border-bottom:1px dashed #e3e3e3;height:62px;overflow:hidden;}
.sygwc_ysp_1{float:left;width:70px;}
.sygwc_ysp_1 img{border:1px solid #ddd;}
.sygwc_ysp_2{float:left;width:120px;line-height:18px;}
.sygwc_ysp_3{float:right;width:85px; text-align:right;}
.sygwc_ysp_3jq{color:#959393;}
.sygwc_ysp_3jq strong{color:#ee0000;}





.wdhb_ycc_1{height:36px;line-height:36px;overflow:hidden;padding:0 10px;border-bottom:1px solid #ddd;}
.wdhb_ycc_2{overflow:hidden;line-height:30px;color:#aaa;}
.wdhb_ycc_2 strong{color:#f40;}
.wdhb_ycc_2 a{color:#666666;}
.wdhb_ycc_2_l{float:left; width:104px; _display:inline; text-align:center;}
.wdhb_ycc_2_l li{ height:30px; border-bottom:#e6e6e6 dashed 1px; line-height:30px; }
.wdhb_ycc_2_r{width:110px;padding-left:26px;float:left;_display:inline;}
.gwcqp{ background:url(images/gwcqpl.gif) left 0 no-repeat;height:21px;padding-left:8px; position:absolute;top:-15px;left:25px;color:#fff;}
.gwcqp span{display:inline-block; background:url(images/gwcqpl.gif) right 0 no-repeat;height:17px;line-height:17px;padding-bottom:4px;padding-right:5px;}
.sygwc_none{background:url(images/sygwc_none.gif) no-repeat 22px center #fff;padding-left:90px;width:213px;color:#e6e6e6;height:78px;line-height:78px; position:absolute;top:31px;right:0;border:1px solid #ddd;z-index:12; display:none;}

a.sy_icon1{width:116px;height:28px; display:block; line-height:23px; display:inline-block; font-weight:bold; background:#ee0000;color:#fff; text-decoration:none; font-size:14px; font-family:"微软雅黑"; text-align:center;}
a.sy_icon1:hover{color:#fff; text-decoration:none;}

.sy_cont_1{margin-top:10px;overflow:hidden;}
.sy_cont_1_l{float:left;width:932px;_display:inline; float:left}
.sy_cont_1_r{float:right;width:270px;}


.sy_hdm_1{width:278px;border:1px solid #ddd;}
.sy_hdm_1_tit{overflow:hidden;}
.sy_hdm_1_tit li{float:left;height:46px;line-height:46px;width:139px;text-align:center;cursor:pointer;border:none;font-size:16px;font-family:"微软雅黑";background:#eaf1f4;}
.sy_hdm_1_tit li.sy_hdm_1_fgx{width:1px;background:#ddd;}
.sy_hdm_1_tit li.hover{ background:#fff;font-size:18px;color:#f40; font-family:"微软雅黑";}
.sy_hdm_1_nr{padding:10px;}
.sy_hdm_1_nr li{line-height:25px;color:#e6e6e6; list-style:inside;}
.sy_hdm_1_nr li a{color:#e6e6e6; text-decoration:none;}
.sy_hdm_1_nr li a:hover{color:#e6e6e6; text-decoration:underline; font-weight:bold;}

.sy_cont_2{margin-top:20px;overflow:hidden;zoom:1;}
.sy_cont_2_l{float:left;width:900px;}
.sy_cont_2_r{float:right;width:280px;}
.sy_jbtjbox{width:896px;padding:0 1px;border:1px solid #ddd;height:293px;border-top:none;}
.sy_jbtjbox ul{overflow:hidden;}
.sy_jbtjbox li{width:164px;float:left;border-top:3px solid #fff;padding:12px 30px 10px 30px; position:relative;_padding-bottom:5px;}
.sy_jbtjbox li.jbhover{border-top:3px solid #f40;}
.sy_jbtj_cx{ position:absolute;top:10px;right:10px;background:url(images/sy_jbtj_cx.gif) no-repeat;width:43px;height:38px;  font-family:"微软雅黑";font-size:16px;color:#fff;line-height:38px;padding-bottom:18px; display:inline-block; text-align:center;}
.cf60{color:#f60;}
.sy_jbtj_tp{ text-align:center;}
.sy_jbtj_jg{font-size:16px;color:#d00; font-family:"微软雅黑"; position:absolute;top:0;left:0;}
.sy_ljgm{ position:relative;padding-top:11px;}
.sy_jbtj_js{line-height:18px;height:40px;margin-top:5px;}
.sy_qjd_tit{font-size:18px; font-family:"微软雅黑";margin-top:15px;color:#8ec31f;}
.box p.top_l{ width:450px; line-height:35px;}
.box p.top_r{ width:400px; line-height:25px;}
.box p.top_r a{padding-left:10px; padding-right:10px; float:right; }
.box p.top_r a.axx{ border-right:#e6e6e6 solid 1px;}
.sy_imggb{
	position: absolute;
	top: 0;
	right: 2px;
	cursor: pointer;
	width: 20px;
}
.head_rmss a{color:#898888; padding:0px 5px 0 5px;}
.head_rmss a:hover{color:#f40; text-decoration:none;}

/* CSS 菜单栏 2014|9|17*/
.sp_menu{ background:#0085d0; height:38px; line-height:38px; _height:30px;}


.sp_menu .me_r{ width:978px; height:38px; float:left;}
.sp_menu .me_r a{width:110px; height:38px; float:left; color:#fff; text-align:center; font-size:16px; font-weight:bold; line-height:38px; border-right:#0171b1 solid 1px; text-decoration:none;}

.sp_menu .me_r a.hover{ background:#8ec31f;}

.sp_menu .me_img{ display:block; width:179px; height:32px; float:right}





.nav_1{ width:220px; cursor:pointer; float:left}
.nav_1_wz{font-size:16px; height:38px;color:#fff; text-align:center;  font-weight:bold; line-height:38px; 
}
#nav_1{background:url(images/cion_jt_up_31.jpg) 170px 15px no-repeat;}
#nav_1.navhover1{background:url(images/cion_jt_down_31.jpg) 170px 15px no-repeat ;}
.sy_nav_1{ background:url(images/sy_nav_1.gif) no-repeat 185px center #f40;}
.nav_2{float:left;overflow:hidden;}
.nav_2 li{float:left;margin-left:8px;_margin-left:4px;width:91px; text-align:center;line-height:40px; font-size:16px;}
.nav_2 li a{ display:inline-block;width:91px;height:40px; font-family:"微软雅黑";}
.nav_2 li a:hover{color:#f40; background:#eee; text-decoration:none;}
.nav_2 li.navhover a{color:#f40; background:url(images/navhoverbj.gif) center bottom no-repeat #eee; text-decoration:none;}


.nav_all{ position:absolute;top:43px;left:0;width:220px;border-left:2px solid #0085d0; background:#fff;zoom:1;z-index:99; display:none;}
#nav_all{top:37px;}

.nav_all .nav_all_li{ position:relative;width:218px; border-right:1px solid #bfbfbf;}
.nav_all .nav_all_li.hover{border:none; background:none;}
.nav_tit{height:54px; border-bottom:#0085d0 solid 2px; border-right:#0085d0 solid 2px; background:url(images/jt_cion_03.jpg) no-repeat 170px 25px; text-align:center; font-size:16px; font-weight:bold; line-height:54px; color:#666;}
.nav_nr{line-height:26px;padding-left:18px; background:url(images/nav_nr.gif) no-repeat 190px center;}
.nav_nr a{margin-right:5px;}
.nav_all .nav_all_li s{width:6px;height:56px;background:#fff; position:absolute;top:0px;left:215px;z-index:11; display:none;}
.nav_r{ position:absolute; border-bottom:#0085d0 solid 2px; border-top:#0085d0 solid 2px; border-right:#0085d0 solid 2px; border-left:none; padding:10px; background:#fff;top:-1px;left:217px;z-index:10;width:600px;min-height:36px;_height:36px; display:none}
.nav_all .nav_all_li.hover .nav_nr{background:none;}
.nav_all .nav_all_li.hover s{display:block;}
.nav_all .nav_all_li.hover .nav_r{ display:block;}

.nav_r li{padding:3px;color:#ccc;}
.nav_r li a{word-break:keep-all;white-space:nowrap;margin:0 2px;}
.nav_r li a.nav_r_tit{color:#f00; font-weight:bold; text-decoration:underline;}
.nav_r li.navlast{ border:0;}
.nav_r p.xia_ine{ border-bottom:#c8c8c8 dashed 1px; }
.nav_r p.gg_pc{ width:450px; height:137px; padding-top:10px; display:block; text-align:center}

/*点击注册弹出层*/

.shadow{z-index:2000;}
.payPop .text1{color: #4F4F4F;line-height: 30px;}

.btn_ljjr{display:inline-block;width:147px;height:38px;background:url(../images/reg_btn.gif) no-repeat;color:#fff;font-family:"微软雅黑", "宋体";font-size:16px;text-align:center;line-height:38px; margin-left:5px;}

.pop_tit{ background:url(images/title.gif) no-repeat; width:484px; height:39px;}
.pop_c{ background-color:#fff; overflow:hidden; border:1px solid #0085d0; width:452px; padding-left:30px; padding-bottom:20px }
.pop_close{ width:20px; height:20px; display:block; position:absolute; right:15px; top:10px; cursor:pointer }
.pop_c_1_t{ height:40px; line-height:40px; font-size:14px; color:#0085d0; font-weight:bold;}
.radio{}
.radio_btn img{ cursor:pointer; margin-right:5px; _margin:11px 0;vertical-align:middle; }
.pop_form{ padding-left:30px;}
.pop_form ul li{ height:35px; line-height:35px;}
.pop_form label{ width:60px; text-align:right; margin-right:10px; display:block; float:left}
.pop_form input { width:200px; border:1px solid #ccc; height:22px; line-height:22px; float:left; margin-top:6px;}
.pop_form input.hover{border:1px solid #0085d0; }
.pop_form select.hover{border:1px solid #0085d0; }
.pop_form select{ width:202px; border:1px solid #ccc; height:24px; line-height:22px; float:left; margin-top:6px;}
p.yzm{ float:left; margin: 6px 10px 0 10px;}

.pop_form ul li a{ color:#0085d0; text-decoration:underline}

.vm{vertical-align: middle;}

.box{width:1200px; margin:0 auto; }

/*底部版权*/

.footer{ overflow:hidden;   margin-top:10px;  font-size:14px; color:#666; font-weight:500; background-color:#f9f8f7}

.footer_pc{background:url(images/sc_bcpc_11.jpg) top #fff no-repeat; border-bottom:2px solid #0085d0; height:58px;}
.footer_box{ width:1050px; margin:0 auto; overflow:hidden; padding-top:20px; padding-bottom:20px; }

.footer .footer_box ul { display:block; overflow:hidden; }
.footer .footer_box ul li{ float:left;margin-right:80px;display:inline; _width:100px;}

.footer ul li p.footer_p_tit{ font-weight:500;font-size:20px; height:40px; line-height:40px;}

.footer .footer_box ul.copyright{ float:left }
.footer .footer_box ul.copyright  li{ float:left; display:inline; border-right:1px solid #ccc; margin-right:10px; padding:0 10px 0 10px; height:14px; line-height:14px; _width:65px;}

